h1 {
    color: #242424;
}

#news-header {
    display: flex;
    justify-content: center;
    margin: 0;
}

#news-subheader {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

hr {
    border: 0.175rem solid #242424;
    border-radius: 0.2rem;
    width: 20rem;
}

#news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

#news-read-more {
    display: flex;
    justify-content: center;
    width: 5rem;
    background: #62B6CB;
    color: #242424;
    margin: 0 1rem 1rem 1rem;
    padding: 1rem;
    border-radius: 1rem;
    font-family: inherit;
    text-decoration: none;
}